/* 
    CSS Properties used from Session 3:
    1. font-size
    2. font-family
    3. color
    4. background-color
    5. text-decoration
    6. font-weight
    7. text-align
    8. border

    Additional CSS Properties:
    1. margin
    2. padding
    3. padding-top
    4. position
    5. top
    6. width
    7. height
    8. display
    9. justify-content
    10. align-items
    11. box-shadow
    12. z-index
    13. list-style-type
    14. gap
    15. text-transform
    16. right
    17. left
    18. margin-top
    19. margin-bottom
    20. flex-wrap
    21. border-radius
    22. border-bottom
    23. content
    24. transition
    25. animation-name
    26. animation-duration
    27. flex-direction
    28. background-image
    29. background-size
    30. background-attachment
    31. max-width
    32. text-shadow
    33. text-indent
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 85px;
}

h1 {
    color: #A3C14A;
}

h2 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

article {
    text-align: center;
}

/* header styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px #A3C14A;
    z-index: 1;
}

#logo-container {
    padding: 15px;
    display: flex;
    gap: 10px;
}

.logo {
    width: 50px;
}

/*navigation styles */
nav ul {
    padding: 15px;
    list-style-type: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
}

nav a {
    text-decoration: none;
    border-radius: 100px;
    color: #A3C14A;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border: 2px solid #A3C14A;
}

/*Menu button styles*/
nav a > img {
    padding: 10px;
    width: 20px;
}

#btn-menu {
    padding: 0px;
}

/*Menu styles*/
#menu {
    display: none;
    height: 100vh;
    width: 300px;
    position: fixed;
    right: 0;
    background-color: #A3C14A;
    z-index: 2;
}

#menu section:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    background-color: white;
}

/*Menu header styles*/
#menu section:first-child + section{
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/*Menu links styles*/
#menu section:last-child a{
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid white;
    margin: 10px;
}

#menu p {
    color: white;
    font-size: 14px;
}

i {
    font-size: 30px;
    color: white;
    padding: 10px;
}

/*Menu search bar styles*/
#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar i {
    font-size: 20px;
}

input[type=search]{

    padding: 20px;
    border-radius: 40px;
    height: 30px;
    width: 225px;
    border: none;
    margin: 0;
}

/*hover styles*/
#btn-menu > img:hover {
    content: url(res/menu.png);
    transition: 0.5s;
}

a.active, a:hover {
    color: white;
    background-color: #A3C14A;
    transition: 0.5s;
    border: 2px solid white;
}

/*Menu show*/
li:last-child:hover #menu{
    display: block;
    animation-name: insert;
    animation-duration: 1s;
}

/*button styles*/
.btn {
    display: inline-block;
    text-decoration: none;
    color: #A3C14A;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    font-size: larger;
    font-weight: bold;
    border: 2px solid #A3C14A;
}

/* intoduction section styles */
#intro {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 200px 0px 200px 0px;
    padding: 100px 0px 100px 0px;
    background-image: url('res/CoverPhoto.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

#intro p {
    font-size: 20px;
    padding: 0px 20px 0px 20px;
}

#callToAction {
    padding: 0px 20px 0px 20px;
    font-size: 60px;
    font-weight: bold;
}

.background {
    border-radius: 200px 0px 0px 0px;
    background-color: #A3C14A;
}

/*featured section styles*/
#featured {
    padding: 70px 0px 70px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #A3C14A;
    width: 100%;
    background-image: url('res/design.png');
    background-size: cover;
}

.header-container {
    position: absolute;
    top: -55px;
    padding: 20px;
    color: #A3C14A;
    background-color: white;
    border-radius: 50px;
    width: auto;
    margin: 20px;
    border: 2px solid #A3C14A;
}

.featured-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-container > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: last baseline;
    max-width: 500px;
    text-align: left;
    margin: 15px;
}

.reversed-flex {
    flex-direction: row-reverse;
}

.cookieImg {
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    border: 5px solid white;
}

/*footer styles*/
footer {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    gap: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#footer-logo {
    width: 200px;
}

.media {
    width: 50px;
}

.title {
    text-shadow: 1px 1px 4px #000000;
    font-weight: bold;
}

.indent {
    text-align: justify;
    text-indent: 40px;
}

/*for responsive*/
@media (max-width: 750px) {
    nav a {
        display: none;
    }
    #btn-menu {
        display: block;
    }
}

/*Menu Animation*/
@keyframes insert {
    from {
        right: -300px;
    }

    to {
        right: 0;
    }
}