* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --max-width: 1200px;
    --primary: #22201F;
    --secondary: #fff;
}

body {
    position: relative;
    background-color: var(--secondary);
    color: var(--primary);
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--text-dark);
}

header {
    padding-top: 20px;
    color: var(--primary);
    height: 60px;
    width: 100%;
    position: sticky;
    top: 50px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
    background-color: var(--secondary);
}

img {
    max-width: 500px;
}

nav {
    width:min-content;
    color: var(--primary);
}

header a {
    padding: 20px;
    transition: all 0.3s;
    width: fit-content;
}

header label {
    padding: 20px;
    transition: all 0.3s
}

header a:hover, header label:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

.btn {
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--secondary);
    padding: 10px 20px;
    transition: all 0.3s;
}

.btn-light {
    background-color: var(--secondary);
    border-radius: 10px;
    color: var(--primary);
    padding: 10px 20px;
    transition: all 0.3s;
}

.btn:hover, .btn-light:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 5px var(--primary);
    cursor: pointer;
}

a{
    margin: 0;
}

h1, .title {
    font-family: 'Alegreya', serif;
    font-weight: 700;
    font-size: 100px;
    text-shadow: 1px 1px 5px var(--primary);
}

h2, .subtitle, .tagline {
    font-family: 'Alegreya', serif;
    font-weight: 700;
    font-size: 24px;
}

h3, .small-heading {
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-size: 18px;
}

p, a {
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 16px;
    max-width: 500px;
}

hr {
    width: 90%;
}

.container {
    display: flex;
    padding: 10px;
}

.margin {
    margin: auto;
}

.wrapper {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.max {
    width: 100%;
}

.border {
    border: 1px solid blue;
}

.gap {
    gap: 10px;
}

.hidden {
    display: none;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

#cover video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#promotion {
    width: 100vw;
    height: 50px;
    line-height: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    position: fixed;
    top: 0px;
    z-index: 5;
}

#promotion > section {
    position: relative;
    width: 200vw;
    animation: slider 10s infinite alternate running;
}

#promotion > section > section {
    padding: 0px;
    position: relative;
    float: left;
    width: 100vw;
}

@keyframes slider {
    0% {right: 0px}
    10% {right: 0px}
    20% {right: 0px}
    30% {right: 100vw}
    40% {right: 100vw}
    50% {right: 100vw}
    60% {right: 100vw}
    70% {right: 100vw}
    80% {right: 0px}
    90% {right: 0px}
    100% {right: 0px}
}

#cover {
    color: var(--secondary);
    position: relative;
    height: 100vh;
}

#cover > section {
    position: absolute;
    bottom: 10px;
    animation: highligh 2s infinite alternate running;
}

@keyframes highligh {
    0% {bottom: 10px}
    50% {bottom: 50px; filter: drop-shadow(0 0 10px #000)}
    100% {bottom: 20px;}
}

#cover i {
    font-size: 20px;
}


#intro {
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: none;
    flex-direction: row-reverse;
}

#intro > section {
    align-items: baseline;
    gap: 30px;
}

#intro img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: top;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: var(--primary);
    color: var(--secondary);
}