@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --background-color: #fffefb;
    --font-color: #1d1c1c;
    --primary-color: #00668c;
    --accent-color:   #71c4ef;
    --secondary-color: #D3E6FE;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;   
    --z-fixed: 100;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 2rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

#todoSection {
    padding: 1rem 0px;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}

.nav_list {
    overflow-x: hidden;
    overflow-y: auto;
    height: max-content;
    padding-bottom: 0.75rem;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100%;
    background-color: var(--primary-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
    display: none;
    overflow: hidden;
}

.nav_filter {
    height: max-content;
    max-height: 168px;
    overflow-y: auto;
}

.nav_link {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.nav_item {
    padding: 1rem;
    padding-left: 3rem;
    width: 100%;
    color: var(--accent-color);
    display: block;
}

.nav_item:hover, .nav_item:focus {
    background-color: rgba(255,255,255, 0.3);
    color: var(--background-color);
}

.nav_logo {
    height: calc(var(--header-height) + 1rem);
    padding-left: 1rem;
}

.nav_logo-icon {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-right: 1.5rem;
}

.nav_logo-name {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
}

.nav_link {
    position: relative;
    color: var(--accent-color);
    margin-bottom: 0rem;
    transition: .3s;
    padding: 1rem 2rem;
}

.nav_link:hover, .nav_item:hover {
    color: var(--secondary-color);
}

.nav_icon {
    font-size: 2rem;
    margin-right: 1rem;
    transition: transform 0.3s ease-in-out;
}

.show{
    left: 0;
}

.body-pd {
    padding: 0px 2rem;
}

.header-pd {
    padding: 0px 1rem;
}

.active {
    color: var(--secondary-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--secondary-color);
}

@media screen and (min-width: 515px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img {
        width: 40px;
        height: 40px;
    }

    .header_img img {
        width: 45px;
    }

    .nav_list {
        max-height: calc(100vh - calc(var(--header-height) + 1rem));
    }

    .l-navbar {
        display: block;
        left: 0;
        padding: 0px;
    }

    .header_toggle {
        display: block;
    }

    .show {
        width: calc(var(--nav-width) + 156px);
    }

    .body-pd, .header-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}

html {
    width: 100%;
}

.todo-card {
    margin: 10px; /* Set maximum width */
    width: 200px;
    max-width: 300px;
    border-radius: 30px;
    padding: 20px;
    flex: 1 1;
}

.todo-card * {
    margin: 0px;
}

.todo-priority {
    padding: 5px 10px;
    width: max-content;
}

.todo-High {
    background-color: red;
}

.todo-Medium {
    background-color: blue;
}

.todo-Low {
    background-color: green;
}

#addTodoModal, #UDTodoModal {
    z-index: 1500;
    width: 100%;
}

div.modal-backdrop {
    width: 100%;
}

.rotate-90 {
    transform: rotate(90deg); /* Add transition animation */
}

.authors-move {
    translate: -100px 0px;
}

.authors {
    transition: all 0.3s ease-in-out;
    position: absolute;
    transform: rotate(-90deg);
    bottom: 180px;
    left: -142px;
    width: max-content;
    color: var(--accent-color);
}

.todo-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#filter-collapse {
    position: fixed;
    background-color: var(--primary-color);
    width: 100%;
}